/* result box */
#ergebnis {
  border-radius: 3px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  float: none !important;
  max-width: 320px !important;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1) !important;
} /* top panel */
  #ergebnis .panel-heading {
    border-radius: 3px 3px 0 0!important;
    background-color: var(--bgd) !important;
    text-align: center !important;
  }
  
  
  
/* competition - right sidebar */
.col-xs-12.col-sm-12.col-md-12.col-lg-4 {
  float: none !important;
  margin: 0 !important;
  padding: 10px !important;
  top: 30px !important;
  right: -500px !important;
  position: fixed !important;
  width: 500px !important;
  background: var(--bgd) !important;
  transition: 400ms ease-in-out !important;
} /* before */
  .col-xs-12.col-sm-12.col-md-12.col-lg-4:before {
    content: '' !important;
    height: 100vh !important;
    width: 10vw !important;
    position: absolute !important;
    background-color: rgba(255,255,255,0.0) !important;
    left: -10vw !important;
    top: 0px !important;
  } /* hover */
    .col-xs-12.col-sm-12.col-md-12.col-lg-4:hover {
      right: 0px !important;
    } /* children */
      .row {
/*         background-color: var(--bgh) !important; */
      } /* panel header */
        .panel-primary > .panel-heading {
          background-color: var(--bgb) !important;
/*           border-radius: 3px 3px 0 0 !important; */
        } /* children */
          .panel {
            background-color: var(--bgh) !important;
          } /* tests taken and competitors */
            #participation {
              background: var(--bgd) !important;
              border-radius: 3px !important;
            } /* highlighted */
              tbody tr.highlighted td {
                background-color: var(--bgd) !important;
              }
  
  #reload-box {
    margin-top: 120px !important;
  }
  
  .btn, #timer {
    border-radius: 3px !important;
  }
