/* global variables */
:root {
  --font: 'Proxima Nova', Arial, sans-serif;
  
  /* dark preset */
  --bgn: #393f4c; /* main bg color */
  --bgd: #2d323c; /* darker highlight color */
  --bgh: #4c525d; /* lighter highlight color */
  --bgt: #b6babf; /* faded text color */
  --bgo: #e9f4fe; /* text color */
  --bga: #00ff7f; /* accent color */
  
  /* white preset */
  /*--bgn: #ddd; /* main bg color */
  /*--bgd: #aaa; /* darker highlight color */
  /*--bgh: #e7e7e7; /* lighter highlight color */
  /*--bgt: #4a4a4a; /* faded text color */
  /*--bgo: #2a2a2a; /* text color */
  /*--bga: #00ff7f; /* accent color */

  
  /* red/green/blue colors */
  --bgr: #E74C3C; /* red color */
  --bgg: #26A65B; /* green color */
  --bgb: #3A539B; /* blue color */
  
  /* test colors */
  --bgb: #467Bc6; /* blue color */
  /*--bgn: #2c3e50; /* main bg color */
  /*--bgd: #34495e; /* darker highlight color */
  /*--bgd: #994f5c; /* pinkish red color */
  /*--bgd: #4f5c99; /* purpleish blue color */
  
  
}

/* global styles */
*, *::before, *::after {
  border: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  text-shadow: none !important;
  text-decoration: none !important;
  font-family: var(--font) !important;
  border-radius: 0 !important;
}

/* icon font */
.fa, .fa::before, .fa::after {
  font-family: 'FontAwesome' !important;
}

/* icon font */
.glyphicon, .glyphicon::before, .glyphicon::after {
  font-family: "Glyphicons Halflings" !important;
}

/* default text color */
div, td, h3 {
  color: var(--bgt) !important;
}

/* text styles */
a {
  color: var(--bgt) !important;
}

/* correct */
.correct, #correct .value strong, #wpm strong {
  color: var(--bgg) !important;
}

/* correct words */
.correct {
  border-bottom: 3px solid var(--bgg) !important;
}

/* wrong */
.wrong, #wrong .value strong {
  color: var(--bgr) !important;
}

/* wrong words */
.wrong {
  border-bottom: 3px solid var(--bgr) !important;
}

/* highlighted wrong words */
.highlight-wrong {
  color: var(--bgo) !important;
  background-color: var(--bgr) !important;
}

/* highlight on current word */
.highlight {
  background-color: var(--bgt) !important;
  background-color: transparent !important;
  color: var(--bgo) !important;
  border-bottom: 3px solid var(--bgt) !important;
}

/* blue buttons and such */
#timer, #reload-btn, .btn-primary {
  background-color: var(--bgd) !important;
}

/* green buttons */
.btn-success {
  background-color: var(--bgg) !important;
}

/* body fixes */
body {
/*   overflow: hidden !important; */
  background: var(--bgn) !important;
  min-height: 100vh !important;
}
  
/* body background */
body::before {
  content: '' !important;
  position: fixed !important;
  top: 0 !important;
  margin: -40px !important;
  height: calc(100% + 80px) !important;
  width: calc(100% + 80px) !important;
  z-index: 0 !important;
  background-color: var(--bgn) !important;
  background-size: cover !important;
  background-position: center !important;
  /*background-image: url('http://goo.gl/jV3MM9') !important; /**/
  filter: blur(10px) !important;
}

/* top navigation */
.top-first-bg {
  z-index: 99 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed !important;
  height: 80px !important;
  margin-top: -48px !important;
  background: var(--bgd) !important;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2) !important;
  transition: ease-in-out 200ms !important;
} /* hover */
  .top-first-bg:hover {
    margin-top: 0px !important;
    transition-delay: 2000ms !important;
  } /* top navigation logo*/
    .navbar-brand {
/*       display: none !important; */
    }

/* side navigation */
#sidebar-md-lg {
  position: fixed !important;
  top: 30px !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 340px !important;
  margin-left: -340px !important;
  border-radius: 0 !important;
  background-color: var(--bgd) !important;
  transition: ease-in-out 450ms !important;
  z-index: 98 !important;
} /* hover area */
  #sidebar-md-lg:after {
   position: absolute !important;
   top: 0 !important;
   right: -10vw !important;
   bottom: 0 !important;
   width: 10vw !important;
   content: '' !important;
   background-color: rgba(255,255,255,0.0) !important;
  } /* hover */
    #sidebar-md-lg:hover {
      margin-left: 0px !important;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2) !important;
    } /* sidebar items */
      .list-group-item  {
        background-color: var(--bgh) !important;
        color: var(--bgt) !important;
        transition: 300ms ease-in-out !important;
      } /* hover */
        .list-group-item:hover {
          background-color: var(--bgd) !important;
          color: var(--bgt) !important;
        }

/* responsive */
@media (min-width: 0px) and (max-width: 1000px) {
  #sidebar-md-lg {
    display: block !important;
  }
    #sidebar-md-lg:after {
     right: -5vw !important;
     width: 5vw !important;
     background-color: rgba(255,255,255,0.0) !important;
  }
  
}


/* main content */
#main {
  width: 100% !important;
  max-width: 1140px !important;
  margin: 0 auto !important;
  float: none!important;
} /* children */
  .row.main-layout {
    padding: 0 !important;
    margin-top: 10px !important;
/*     box-shadow: 0 0 12px 0 rgba(0,0,0,0.1) !important; */
  } /* speedtest container */
    #speedtest-main {
      width: 100% !important;
      /* took me 30 minutes to resolve this..... */
      padding: 0 !important;
    } /* login/language */
    #speedtest-main > .row {
      width: 820px !important;
      margin: 20px auto 0 !important;
    } /* child element */
      #speedtest-main > .row > div {
        padding: 0 !important;
      } /* button fix */
        #speedtest-main > .row > div > .btn-group {
          margin: 0 !important;
        }
      /* language list */
      #language-list {
        padding: 10px !important;
        display: none;
        background: var(--bgd) !important;
        margin: 0 0 20px 0 !important;
      } /* switch language */
        #language-list > h4 {
          text-align: center !important;
          background: var(--bgh) !important;
        } /* switch language */
        #language-list > a {
          text-align: center !important;
          transition: 300ms ease-in-out !important;
        } /* hover over the elements */
          #language-list > a:hover {
            text-align: center !important;
            background: var(--bgh) !important;
          }
  
    /* speedtest box */
    #reload-box {
      max-width: 820px !important;
      margin: 0 auto !important;
    } /* child elements */
      #reload-box > div {
        width: 100% !important;
        margin: 0 auto !important;
      } /* words */
        #words {
          text-align: center !important;
          padding: 6px 6px 30px 6px !important;
          margin-bottom: 0 !important;
          background-color: var(--bgh) !important;
        } /* words row */
          #row1 {
            color: var(--bgt) !important;
          }
        /* input row */
        #input-row {
          background-color: var(--bgh) !important;
        } /* child */
          #input-row > div {
            max-width: calc(100% - 130px) !important;
            }
          /* input bar */
          #inputfield {
            width: calc(100% - 130px) !important;
            margin-left: 130px !important;
            text-align: center !important;
            border-bottom: 3px solid rgba(0,0,0,0.1) !important;
            background: rgba(50,50,50,0.0) !important;
            color: var(--bgt) !important;
          }



/* first result element */
#auswertung-box.row {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
} /* children */
  #advertisement {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  } /* result wrapper */
    #auswertung-result {
      float: none !important;
      margin: 20px auto 0 !important;
      color: var(--bgt) !important;
      background-color: var(--bgh) !important;
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.1) !important;
    } /* title */
      #auswertung-result h3 {
        text-align: center !important;
        color: var(--bgt) !important;
        background: var(--bgd) !important;
      } /* table bg fix */
        .table-striped > tbody > tr:nth-child(2n+1) > td {
          background-color: transparent !important;
        } 
        /* share on facebook button */
        #share-on-facebook-button {
          margin-bottom: 0 !important;
          margin: 0 !important;
          width: 100% !important;
          box-shadow: 0 0 6px 0 rgba(0,0,0,0.1) !important;
        }
  #result-table {
    margin-bottom: 0 !important;
  }
  #result-table tbody tr td {
    padding: 10px !important;
    margin-bottom: 0 !important;
  }

/* top score */
#top-score {
  width: 100% !important;
  text-align: center !important;
  left: 0 !important;
/*   top: 5px !important; */
  background: none !important;
} /* childred */
  #top-score > div {
    transform: none !important;
    left: 0 !important;
    top: 3px !important;
  }


/* second result element*/
#badge-box {
  float: none !important;
  margin: 20px auto 0 !important;
  min-height: 380px !important;
  max-width: 820px !important;
  width: 100% !important;
  background-color: var(--bgh) !important;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1) !important;
} /* header */
  #badge-box h3#box-title {
    text-align: center !important;
    color: var(--bgt) !important;
    background: var(--bgd) !important;
  } /* badge */
    #badge-box .badge {
      padding: 5px !important;
      background-color: var(--bgd) !important;
    }
    /* code group */
    .form-group label {
      color: var(--bgt) !important;
    }
    /* inputs */
    .form-control {
      color: var(--bgt) !important;
      background-color: rgba(0,0,0,0.2) !important;
    } 



/* scoreboard */
.highscore-box {
/*     max-width: 820px !important; */
  width: 100% !important;
  margin-top: 20px !important;
} /* children */
.highscore-box > .table-responsive {
  max-width: 820px !important;
  margin: 0 auto !important;
/*   padding: 20px !important; */
/*   margin: 20px !important; */
} /* children */
  .table-responsive {
    color: var(--bgt) !important;
    background: var(--bgh) !important;
  /*   margin: 20px !important; */
  } /* table description */
    .table-responsive #description {
      text-align: center
    } /* tabs */
      .table-responsive ul {
        background-color: var(--bgd) !important;
        display: flex !important;
        justify-content: center !important;
        border-bottom: 1px solid var(--bgd) !important;
      } /* active button */
        .table-responsive ul li.active {
          background-color: var(--bgh) !important;
        } /* button content */
          .table-responsive ul li a {
            margin-bottom: 0 !important;
            background: rgba(255,255,255,0.0) !important;
          }
    /* table content */
    .table-responsive #table-data {
      background-color: var(--bgh) !important;
      padding-top: 0 !important;
    }



.btn-default {
  background-color: var(--bgd) !important;
}
.btn {
  color: var(--bgo) !important;
}


/* top1000 sections */
.tab-content {
  min-height: 400px;
  border: 1px solid #ddd;
  background: var(--bgh) !important;
  padding: 0px !important;
  text-align: center !important;
} /* child */
  #introduction {
    max-width: 820px !important;
    margin: 0 auto !important;
  } /* content */
    #top1000-index-container {
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

/* top1000 words test */
.alert-warning {
  color: var(--bgt) !important;
  background-color: var(--bgh) !important;
}

/* top1000 results */
#top1000-auswertung {
  background-color: var(--bgh) !important;
} /* button */
  #top1000-auswertung #level-unlocked-message-box {
    background: var(--bgd) !important;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1) !important;
  } /* speed meter */
    #top1000-view #speed-tracker #speed-meter {
      background: var(--bgh) !important;
    } /* inner */
      #top1000-view #speed-tracker #speed-meter > #inner {
        background: var(--bgn) !important;
      }


/* profile section */
#main-content {
/*   max-width: 820px !important;
  margin: 0 auto !important;
  float: none !important;
  min-height: 100px !important; */
  color: var(--bgt) !important;
  background-color: var(--bgh) !important;
}



/* you have to be logged in alert */
.alert {
  margin: 10px auto 0 !important;
  max-width: 820px !important;
  background-color: var(--bgh) !important;
}

/* collapsable header */
#bs-example-navbar-collapse-1 {
/*   background-color: var(--bgd) !important; */
}

/* header top right links */
#notification-minibox, #user-minibox {
  background: transparent !important;
  margin: 0 !important;
  padding: 10px 10px !important;
}

/* email settings */
#email-settings {
  margin: 0 auto !important;
  background-color: var(--bgh) !important;
}

/* modal */
.modal-content {
  background-color: var(--bgh) !important;
}

/* text practice table content */
.list tr:hover {
  transition: 300ms ease-in-out !important;
  background-color: var(--bgd) !important;
} /* weird bg image */
  .list td {
    background: none !important;
  }
  /* practice area bg */
  #text-practice .workspace {
    background-color: rgba(0,0,0,0.2) !important;
  }
  /* text container */
  .tdiff {
    margin: 0 auto !important;
    max-width: 820px !important;
  } /* input */
    input {
      text-align: center
    }
  /* current highlighed word */
  .current {
    opacity: 0 !important;
  }

/* achievements */
a.achievement.locked, a.achievement.competition.locked {
    width: 40px !important;
    height: 40px !important;
}

/* border fix for flags */
#graph-flag-selection span.flag, #graph-flag-selection-fullscreen span.flag {
    border: 4px solid black !important;
}

/* visitors/activity/recent */
.nav-tabs > li.active > a {
  background-color: var(--bgd) !important;
} /* hover */
  .nav-tabs > li:hover > a {
    background-color: var(--bgd) !important;
  }

/* new notification */
ul#notification-list li.new {
    background: var(--bgd) !important;
}

/* competition - right sidebar */
.col-xs-12.col-sm-12.col-md-12.col-lg-4 {
/*   float: none !important;
  margin: 0 !important;
  padding: 10px !important;
  top: 30px !important;
  right: -500px !important;
  position: fixed !important;
  width: 500px !important;
  background: var(--bgd) !important;
  transition: 400ms ease-in-out !important; */
} /* before */
  .col-xs-12.col-sm-12.col-md-12.col-lg-4:before {
/*     content: '' !important;
    height: 100vh !important;
    width: 10vw !important;
    position: absolute !important;
    background-color: rgba(255,255,255,0.0) !important;
    left: -10vw !important;
    top: 0px !important; */
  } /* hover */
    .col-xs-12.col-sm-12.col-md-12.col-lg-4:hover {
/*       right: 0px !important; */
    } /* children */
      .row {
/*         background-color: var(--bgh) !important; */
      } /* panel header */
        .panel-primary > .panel-heading {
/*           background-color: var(--bgb) !important; */
        } /* children */
          .panel {
/*             background-color: var(--bgh) !important; */
          } /* tests taken and competitors */
            #participation {
/*                 background: var(--bgd) !important; */
            }

/* 10fastfingers index page */
#homepage #main #centerbox a.cta_button {
  color: #000 !important;
}


/* [experimental] columns */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative !important;
  min-height: 1px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

/* temporary block */
/* .top-first-bg, #sidebar-md-lg,*/
#sidebar-xs, #sidebar-sm, #content-bg, #footer-bg, #main-content-trenner {
  display: none !important;
}

/* unnecessary elements */
#sidebar-md-lg .content-box, #ads-speedtest-view-container, #div-gpt-ad-728x90-BTF, #ads, .fb-comments.fb_iframe_widget {
  display: none !important;
}
