.main-layout #main-content, .main-layout .main-content {
    background: var(--bgh) !important;
    padding: 20px !important;
    width: 100% !important;
    max-width: 820px !important;
    margin: 0 auto !important;
    float: none !important;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1) !important;
}
